@charset "UTF-8";
/*@import 'vendors/tailwin';*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth; }

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco); }

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block; }

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale; }

.c-body {
  background-image: url("../images/Background.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.c-grid {
  max-width: 30rem;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden; }
  @media (min-width: 768px) {
    .c-grid {
      max-width: 50rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  @media (max-width: 600px) {
    .c-grid {
      max-width: 100%; } }

.c-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  /*----- INICIO DE SECCION UNO O IZQUIERDA -----*/
  /*----- FIN DE SECCION UNO O IZQUIERDA -----*/
  /*----- INICIO DE SECCION DOS O DERECHA -----*/ }
  .c-section--bgcolor-blue {
    border-radius: 0.5rem 0 0 0.5rem;
    background: #013243;
    color: #fff;
    text-align: center; }
  .c-section__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .c-section__subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: #4a7e91; }
  .c-section__picture {
    margin-top: -6rem; }
  .c-section--bgcolor-white {
    border: 1px solid #b5b5b5;
    border-radius: 0 0.5rem 0.5rem 0;
    background: white; }
  @media (max-width: 600px) {
    .c-section--bgcolor-blue, .c-section--bgcolor-white {
      border: none;
      border-radius: 0; } }
  .c-section .c-form {
    width: 80%;
    height: 100%;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    @media (min-width: 768px) {
      .c-section .c-form {
        width: 70%; } }
    .c-section .c-form__title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem; }
    .c-section .c-form__label {
      font-weight: 700;
      margin-bottom: .5rem; }
    .c-section .c-form__input {
      width: 100%;
      padding: .8rem;
      border: 1px solid #ccc;
      border-radius: .2rem;
      margin-bottom: 1.5rem; }
      .c-section .c-form__input:focus {
        outline-color: #4a7e91; }
    .c-section .c-form__terms {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
    .c-section .c-form__checkbox {
      margin-right: .5rem;
      display: inline-block;
      width: 2rem;
      height: 2rem; }
    .c-section .c-form__paragraph {
      font-size: 1.1rem; }
      .c-section .c-form__paragraph a {
        font-size: 1.1rem;
        color: #013243;
        font-weight: 700;
        text-decoration: underline; }
    .c-section .c-form__submit_btn {
      width: 100%;
      padding: 1rem;
      border-radius: .2rem;
      background: #013243;
      color: white;
      font-weight: 500;
      transition: background 150ms ease-in-out;
      cursor: pointer; }
      .c-section .c-form__submit_btn:hover {
        background: #0b4457; }

/*----- FIN DE SECCION DOS O DERECHA -----*/
/*@import 'themes/theme';
@import 'themes/admin';
*/

/*# sourceMappingURL=main.css.map */
