.c-section__two {
    background: $color_white;
    @include flex(row, center, center);
    
    .c-form {
        padding-block: 2.5rem;
        // background: green;
        width: 80%;
        @include flex(column, center, unset);
        @include screen-md {
            width: 70%;
        }
        
        &__title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        
        &__data {
            label {
                font-weight: 700;
                margin-bottom: .5rem;
            }
            input {
                width: 100%;
                padding: .8rem;
                border: 1px solid #ccc;
                border-radius: .2rem;
                margin-bottom: 1.5rem;

                &:focus{
                    outline-color: $color_cyan;
                }
            }
        }

        &__terms {
            margin-bottom: 2rem;
            @include flex(row, center, baseline);

            input {
                margin-right: .5rem;
                display: inline;
            }

            p {
                font-size: 1.1rem;

                a{
                    font-size: 1.1rem;
                    color: $color_blue;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }

        &__submit {
            &_btn {
                width: 100%;
                padding: 1rem;
                border-radius: .2rem;
                background: $color_blue;
                color: $color_white;
                font-weight: 500;
                transition: background 150ms ease-in-out;
                cursor: pointer;

                &:hover{
                    background:rgb(11, 68, 87);
                }
            }
        }
    }
}
