.c-section {
    @include flex(column, space-between, center);
    padding-top: 2rem;

    /*----- INICIO DE SECCION UNO O IZQUIERDA -----*/

    &--bgcolor-blue{
        border-radius:0.5rem 0 0 0.5rem;
        background: $color_blue;
        color: #fff;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__subtitle {
        font-size: 1.1rem;
        font-weight: 500;
        color: $color_cyan;
    }

    &__picture {
        margin-top:-6rem;
    }

    /*----- FIN DE SECCION UNO O IZQUIERDA -----*/
    
    /*----- INICIO DE SECCION DOS O DERECHA -----*/

    &--bgcolor-white{
        border:1px solid $color_grey;
        border-radius: 0 0.5rem 0.5rem 0;
        background: $color_white;
    }

    @include screen-sm{
        &--bgcolor-blue, &--bgcolor-white{
            border:none;
            border-radius:0;
        }
    }

    .c-form {
        // background: green;
        width: 80%;
        height:100%;
        padding-bottom:2.5rem;
        @include flex(column, space-between, flex-start);
        @include screen-md {
            width: 70%;
        }
        
        &__title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        
        &__label{
                font-weight: 700;
                margin-bottom: .5rem;
            }

        &__input{
                width: 100%;
                padding: .8rem;
                border: 1px solid #ccc;
                border-radius: .2rem;
                margin-bottom: 1.5rem;

                &:focus{
                    outline-color: $color_cyan;
                }
            }


            &__terms{
                @include flex(row, space-between, flex-start);
            }

            &__checkbox {
                margin-right: .5rem;
                display: inline-block;
                width:2rem;
                height:2rem;
            }

            &__paragraph {
                font-size: 1.1rem;
                a{
                    font-size: 1.1rem;
                    color: $color_blue;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }

        &__submit {
            &_btn {
                width: 100%;
                padding: 1rem;
                border-radius: .2rem;
                background: $color_blue;
                color: $color_white;
                font-weight: 500;
                transition: background 150ms ease-in-out;
                cursor: pointer;

                &:hover{
                    background:rgb(11, 68, 87);
                }
            }
        }
    }
}


    /*----- FIN DE SECCION DOS O DERECHA -----*/
