.wrapper {
    background-image: url(/images/Background.png);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(row, center, center);

    .grid {
        max-width: 30rem;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;

        @include screen-md {
            max-width: 50rem;
            border-radius: 0.5rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}
